.navbar-brand {padding: 0 !important; width: 60px;}

body{padding-top:70px;}
.margin-top-10{	margin-top:10px;}
.gradient-bg{		
    -webkit-box-shadow:  21px -14px 50px rgba(150, 150, 150, 0.05) inset;
    -moz-box-shadow:     21px -14px 50px rgba(150, 150, 150, 0.05) inset;
    box-shadow:          21px -14px 50px rgba(150, 150, 150, 0.05) inset;

    border-left:2px solid #DEDEDE;
    border-top:none;
    border-left:none;
    border-bottom:none;
    border-width:2px;
    -webkit-border-image: 
    -webkit-gradient(linear, 0 100%, 0 0, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
    -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
    -o-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
    -moz-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0)) 1 100%; 
}
.bg-white {background:#FFFFFF;}
.border-radius {border-radius:7px;}
.padding {padding:10px;}
.display-none {display:none;}



.text-rose {color: #faa;}
.text-gray {color: #999;}

.footer-site {margin-top: 100px; padding: 15px 0;}

.fa-ls {margin-left: 4px;}
.fa-rs {margin-right: 4px;}
/*
#signup {background: #008ccd;}
#login {background: #faa;}
#account {background: #007bb3;}*/


/* single page */	
.hov-action-border{
    border: 2px solid transparent;
}
.hov-action-border:hover{
    border: 2px solid #ffde9f;
}
/* Remove standart style from .alert placed in .panel*/
.panel .alert{
    padding:0px;
    -webkit-box-shadow:none;
        -moz-box-shadow:none;
            box-shadow:none;
}


.block-wrapper{
    position:relative;
    display:inline-block;
    width:100%;
    height:auto;
}
.map-wrapper{
    position:absolute;
    top:0px;
    left:0px;

    display:inline-block;
}
/* gMap */
 #map.gmappanel {
width:100%;
position:relative;
height:0px;

}
#map.gmappanel.hide-map{
height:0px;
    z-index:1020;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
}
#map.gmappanel.show-map{
    display:block;
    z-index:1020;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    height:500px;

}
.toggler-hide{
    display:none;
}
.structure-feedback:target {background: #FFEAEA;}

/* fileDropZone */
.fileDropZone, .dropzone {
border: 1px dashed #a1a1a1;
border-radius: 10px;
min-height: 90px;
text-align: center;
background-color: rgba(233, 233, 233, 0.2);
text-align: center;
}
.fileDropZone > h6 {font-size: 20px; margin-bottom: 40px; text-align: center; float: none !important; margin: 10px 0 10px 0 !important;}
.fileDropZone > p {font-size: 12px; margin-top: 10px; text-align: center; float: none !important;}

.imgDropZone {min-height: 320px;}
.typeDropZone {width: 320px;}
.userImgDropZone {height: 318px; width: 320px;}

.dropzone.in { border:2px dashed lawngreen;}
.fileDropZone.hover, .dropzone.hover {background: #EEEEEE !important; border: 2px dashed #0EB50f !important;}
.fileDropZone.error {background: #faa !important; border: 3px dashed #FF3000 !important;}
.fileDropZone.drop {background:#EEEEEE !important; border-color: #0EB50f !important;}
.dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
/* fileDropZone END */


/* *  MISC */
.withAlert {
	position: fixed !important;
	top: 55px;
	left: 5%;
	width: 90%;
	text-align: center;
	z-index:5000;
}

.showhideBox {cursor: pointer;}

/* LOG of the Application */
.applog logentry { display: block; position: relative; background: #DDDDDD; padding: 20px 0;}
.applog logentry:nth-child(odd) {background: #888888;}
.applog logentry > timestamp {
    color: #000;
    background: #FFFFFF;
    padding: 5px;
    margin-bottom: 2px;
    text-decoration: underline;
    clear:both;
    display:block;
    width:210px;
    top:0px;
    position:absolute;
}
.applog logentry > message {
    font-weight: bold;
    font-size: 17px;
    font-family: Helwetica, Courier new, Courier, sans-serif;
    margin-top:20px;
    padding: 5px;
    display:block;
}
.applog logentry > priority {
    background: #FFFFFF;
    padding: 10px;
    float: right;
    display:block;
    position:absolute;
    top:0px;
    right:0px;
}
.applog logentry > priorityname {
    float: right;
    background: #FFFFFF;
    padding: 10px;
    font-weight: bold;
    display:block;
    position:absolute;
    top:0px;
    right:17px;
}
/* LOG of the Application END */


/** ALL EUROPE FLAGS **/
.flag {
	width: 16px;
	height: 11px;
    display: inline-block;
	background:url(/public/img/site/sprites/flags.png) no-repeat
}
.flag.flag-ad {background-position: -16px 0}
.flag.flag-al {background-position: -32px 0}
.flag.flag-at {background-position: -48px 0}
.flag.flag-ba {background-position: -64px 0}
.flag.flag-be {background-position: -80px 0}
.flag.flag-bg {background-position: -96px 0}
.flag.flag-by {background-position: 0 -11px}
.flag.flag-ch {background-position: -16px -11px}
.flag.flag-cz {background-position: -32px -11px}
.flag.flag-de {background-position: -48px -11px}
.flag.flag-dk {background-position: -64px -11px}
.flag.flag-ee {background-position: -80px -11px}
.flag.flag-es {background-position: -96px -11px}
.flag.flag-fi {background-position: 0 -22px}
.flag.flag-fo {background-position: -16px -22px}
.flag.flag-fr {background-position: -32px -22px}
.flag.flag-gb {background-position: -48px -22px}
.flag.flag-gi {background-position: -64px -22px}
.flag.flag-gr {background-position: -80px -22px}
.flag.flag-hr {background-position: -96px -22px}
.flag.flag-hu {background-position: 0 -33px}
.flag.flag-ie {background-position: -16px -33px}
.flag.flag-is {background-position: -32px -33px}
.flag.flag-it {background-position: -48px -33px}
.flag.flag-li {background-position: -64px -33px}
.flag.flag-lt {background-position: -80px -33px}
.flag.flag-lu {background-position: -96px -33px}
.flag.flag-lv {background-position: 0 -44px}
.flag.flag-mc {background-position: -16px -44px}
.flag.flag-md {background-position: -32px -44px}
.flag.flag-me {background-position: -48px -44px}
.flag.flag-mk {background-position: -64px -44px}
.flag.flag-mt {background-position: -80px -44px}
.flag.flag-nl {background-position: -96px -44px}
.flag.flag-no {background-position: 0 -55px}
.flag.flag-pl {background-position: -16px -55px}
.flag.flag-pt {background-position: -32px -55px}
.flag.flag-ro {background-position: -48px -55px}
.flag.flag-rs {background-position: -64px -55px}
.flag.flag-ru {background-position: -80px -55px}
.flag.flag-se {background-position: -96px -55px}
.flag.flag-si {background-position: 0 -66px}
.flag.flag-sk {background-position: -16px -66px}
.flag.flag-sm {background-position: -32px -66px}
.flag.flag-ua {background-position: -48px -66px}
.flag.flag-va {background-position: -64px -66px}
/** ALL EUROPE FLAGS **/
