{include file='layout/head.tpl'}
</head>

<body id="about">
	{include file='layout/navbar.tpl'}
<div class="container" id="container">
	
	{include file='lib/pop_message.tpl'}
	
	

	<div class="page-header text-center">
		<h1>{$title}<small>{$tsn}</small></h1>
	</div>

			Ugu Ugu ...

	{include file='layout/footer.tpl'}
</div>

{include file='layout/foot.tpl' hide=true}

</body>
</html>