<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">{literal}!window.jQuery && document.write(unescape("%3Cscript src='/public/js/jquery-1.10.2.min.js' type='text/javascript'%3E%3C/script%3E")){/literal}</script>

 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/holder.js"></script>
    <script type="text/javascript" src="/public/js/plugins.js"></script>
    <script type="text/javascript" src="/public/js/jquery.maphilight.min.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
<script>{*}
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-XXXXX-X');ga('send','pageview');
{/*}</script>
-->