
	<option>Scegli</option>
	<option>Abruzzo</option>
	<option>Basilicata</option>
	<option>Calabria</option>
	<option>Campania</option>
	<option>Emilia-Romagna</option>
	<option>Friuli-Venezia Giulia</option>
	<option>Lazio</option>
	<option>Liguria</option>
	<option>Lombardia</option>
	<option>Marche</option>
	<option>Molise</option>
	<option>Piemonte</option>
	<option>Puglia</option>
	<option>Sardegna</option>
	<option>Sicilia</option>
	<option>Toscana</option>
	<option>Trentino-Alto Adige</option>
	<option>Umbria</option>
	<option>Valle d'Aosta</option>
	<option>Veneto</option>