<option value="">Seleziona</option>
<option value="USD" {if $currency == 'USD'}selected="selected"{/if}>$ (USD)</option>
<option value="EUR" {if $currency == 'EUR'}selected="selected"{/if}>€ (EUR)</option>
<option value="GBP" {if $currency == 'GBP'}selected="selected"{/if}>£ (GBP)</option>
<option value="AUD" {if $currency == 'AUD'}selected="selected"{/if}>$ (AUD)</option>
<option value="BRL" {if $currency == 'BRL'}selected="selected"{/if}>R$ (BRL)</option>
<option value="CAD" {if $currency == 'CAD'}selected="selected"{/if}>$ (CAD)</option>
<option value="CZK" {if $currency == 'CZK'}selected="selected"{/if}>Kč (CZK)</option>
<option value="DKK" {if $currency == 'DKK'}selected="selected"{/if}>kr (DKK)</option>
<option value="HKD" {if $currency == 'HKD'}selected="selected"{/if}>$ (HKD)</option>
<option value="HUF" {if $currency == 'HUF'}selected="selected"{/if}>Ft (HUF)</option>
<option value="ILS" {if $currency == 'ILS'}selected="selected"{/if}>₪ (ILS)</option>
<option value="JPY" {if $currency == 'JPY'}selected="selected"{/if}>¥ (JPY)</option>
<option value="MYR" {if $currency == 'MYR'}selected="selected"{/if}>RM (MYR)</option>
<option value="MXN" {if $currency == 'MXN'}selected="selected"{/if}>$ (MXN)</option>
<option value="NOK" {if $currency == 'NOK'}selected="selected"{/if}>kr (NOK)</option>
<option value="NZD" {if $currency == 'NZD'}selected="selected"{/if}>$ (NZD)</option>
<option value="PHP" {if $currency == 'PHP'}selected="selected"{/if}>₱ (PHP)</option>
<option value="PLN" {if $currency == 'PLN'}selected="selected"{/if}>zł (PLN)</option>
<option value="SGD" {if $currency == 'SGD'}selected="selected"{/if}>$ (SGD)</option>
<option value="SEK" {if $currency == 'SEK'}selected="selected"{/if}>kr (SEK)</option>
<option value="CHF" {if $currency == 'CHF'}selected="selected"{/if}>CHF (CHF)</option>
<option value="TWD" {if $currency == 'TWD'}selected="selected"{/if}>NT$ (TWD)</option>
<option value="THB" {if $currency == 'THB'}selected="selected"{/if}>฿ (THB)</option>
<option value="TRY" {if $currency == 'TRY'}selected="selected"{/if}>TL (TRY)</option>