<!-- Structure ITEM -->
<div class="structure-item row margin-top-10" id="feed5" style="border: 1px solid #cccccc; border-radius: 7px; padding:10px;">
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail"><img class="img-responsive" src="/public/files/structure/images/rimini_ospedale.jpg" alt="" ></div>
    </div>
    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <h4><a href="/structure/view#feed5" title="" >Nome della Struttura</a></h4>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left:0px;">
            <p class="">
                <i class="icon-eye-open text-rose"></i>
                <i class="icon-eye-open text-rose"></i> 
                <i class="icon-eye-open text-rose"></i>
                <i class="icon-eye-close text-gray"></i> 
                <i class="icon-eye-close text-gray"></i>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p class="lead text-info text-right"><small>Recensioni num.</small> <strong>14</strong></p>
        </div>

        <p>Sono stata all'ospedale il 04/09/2013 e il 05/09/2013 e a dire il vero mi è piaciuto.Mi avete curato benissimo(a dire il vero ho ancora il mal di gola),è di fuori nel corridoio delle scale A,B,C,D,E,F,G(se esistono le scale E ed F)che mi inquieta,mi fa paura.</p>
        <a href="javascript:;" title="Recensisci questa struttura"><i class="icon-map-marker"></i> Ci sono stato</a>
        <a href="javascript:;" title="Recensisci questa struttura" class="pull-right text-warning"><i class="icon-eye-open"></i> Crea recensione</a>
      </div>
</div>
{for $foo=1 to 4}
<div class="structure-feedback row margin-top-10" style="border: 1px solid #cccccc; border-radius: 7px; padding:10px;">
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail"><img class="img-responsive" src="/public/files/structure/images/ospedale-rimini1.jpg" alt="" ></div>
    </div>
    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <h4><a href="/structure/view#feed5" title="" >Nome della socio sanitaria</a></h4>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left:0px;">
            <p class="">
                <i class="icon-eye-open text-rose"></i>
                <i class="icon-eye-open text-rose"></i> 
                <i class="icon-eye-open text-rose"></i>
                <i class="icon-eye-close text-gray"></i> 
                <i class="icon-eye-close text-gray"></i>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p class="lead text-info text-right"><small>Recensioni num.</small> <strong>14</strong></p>
        </div>

        <p>Sono stata all'ospedale il 04/09/2013 e il 05/09/2013 e a dire il vero mi è piaciuto.Mi avete curato benissimo(a dire il vero ho ancora il mal di gola),è di fuori nel corridoio delle scale A,B,C,D,E,F,G(se esistono le scale E ed F)che mi inquieta,mi fa paura.</p>
        <a href="javascript:;" title="Recensisci questa struttura"><i class="icon-map-marker"></i> Ci sono stato</a>
        <a href="javascript:;" title="Recensisci questa struttura" class="pull-right text-warning"><i class="icon-eye-open"></i> Crea recensione</a>
      </div>
</div>
<!-- /structure ITEM -->
{/for}