<!-- HOTEL ITEM -->
<div class="structure-feedback row margin-top-10" id="feed5" style="border: 1px solid #cccccc; border-radius: 7px; padding:10px;">
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail"><img class="img-responsive" src="/public/img/site/theme/5.jpg" alt="" ></div>
    </div>
    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <h4><a href="/structure/view#feed5" title="" >Titolo della recensione</a></h4>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left:0px;">
            <p class="">
                <i class="icon-eye-open text-rose"></i>
                <i class="icon-eye-open text-rose"></i> 
                <i class="icon-eye-open text-rose"></i>
                <i class="icon-eye-close text-gray"></i> 
                <i class="icon-eye-close text-gray"></i>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p class="lead text-info text-right"><small>Data:</small> <strong>10/05/2014</strong></p>
        </div>

        <p>Sono stata all'ospedale il 04/09/2013 e il 05/09/2013 e a dire il vero mi è piaciuto.Mi avete curato benissimo(a dire il vero ho ancora il mal di gola),è di fuori nel corridoio delle scale A,B,C,D,E,F,G(se esistono le scale E ed F)che mi inquieta,mi fa paura.</p>
        <a href="javascript:;" title="Vota per l'utilità di questa recensione"><i class="icon-thumbs-up"></i> La recensione è utile!</a>
      </div>
</div>
{for $foo=1 to 4}
<div class="structure-feedback row margin-top-10" style="border: 1px solid #cccccc; border-radius: 7px; padding:10px;">
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail"><img class="img-responsive" src="/public/img/site/theme/55.jpg" alt="" ></div>
    </div>
    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <h4><a href="/structure/view#feed5" title="" >Titolo del Feedback</a></h4>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left:0px;">
            <p class="">
                <i class="icon-eye-open text-rose"></i>
                <i class="icon-eye-open text-rose"></i> 
                <i class="icon-eye-open text-rose"></i>
                <i class="icon-eye-close text-gray"></i> 
                <i class="icon-eye-close text-gray"></i>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p class="lead text-info text-right"><small>Data:</small> <strong>10/05/2014</strong></p>
        </div>

        <p>Sono stata all'ospedale il 04/09/2013 e il 05/09/2013 e a dire il vero mi è piaciuto.Mi avete curato benissimo(a dire il vero ho ancora il mal di gola),è di fuori nel corridoio delle scale A,B,C,D,E,F,G(se esistono le scale E ed F)che mi inquieta,mi fa paura.</p>
        <a href="javascript:;" title="Vota per l'utilità di questa recensione"><i class="icon-thumbs-up"></i> La recensione è utile!</a>
      </div>
</div>
<!-- /feed ITEM -->
{/for}